{% extends 'layout.html' %}

{% block body %}


<main>
    <article>

        <!-- 
        - #HERO
      -->

        {% include 'homeSections/hero.html' %}



        <!-- 
            - #ABOUT
        -->

        {% include 'homeSections/about.html' %}


        <!-- 
            - #VIDEO
        -->

        {% include 'homeSections/video.html' %}


        <!-- 
            - #CLASS
        -->

        {% include 'homeSections/classes.html' %}


        <!-- 
            - #BLOG
        -->

        {% include 'homeSections/blog.html' %}

    </article>
</main>

{% endblock %}