<header class="header" data-header>
    <div class="container">

        <a href="{{ url_for('home_page') }}" class="logo">
            <ion-icon name="barbell-sharp" aria-hidden="true"></ion-icon>

            <span class="span">Fitlife</span>
        </a>

        <nav class="navbar" data-navbar>

            <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                <ion-icon name="close-sharp" aria-hidden="true"></ion-icon>
            </button>

            <ul class="navbar-list">




                <li>
                    <a href="{{ url_for('home_page') }}" class="navbar-link" data-nav-link>Home</a>
                </li>

                {% if login == False %}

                <li>
                    <a href="#about" class="navbar-link" data-nav-link>About Us</a>
                </li>

                <li>
                    <a href="#class" class="navbar-link" data-nav-link>Classes</a>
                </li>

                <li>
                    <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                </li>

                <li>
                    <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
                </li>

                {% endif %}

            </ul>

        </nav>

        {% if isLoggedIn == False %}

        <a href="{{ url_for('login_page') }}" class="btn btn-secondary">Join Now</a>

        {% endif %}

        {% if isLoggedIn == True %}
        
        <a href="{{ url_for('login_page') }}" class="btn btn-secondary">Logout</a>
        
        {% endif %}

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

    </div>
</header>